#
# Server Density Agent Config
# Docs: http://www.serverdensity.com/docs/agent/configvariables/
#

[Main]
sd_url: https://example.serverdensity.io
agent_key: 

#
# Plugins
#
# Leave blank to ignore. See http://www.serverdensity.com/docs/agent/writingplugins/
#

plugin_directory:

#
# Optional status monitoring
#
# See http://www.serverdensity.com/docs/agent/config/
# Ignore these if you do not wish to monitor them
#

# Apache
# See http://www.serverdensity.com/docs/agent/apache/

apache_status_url: http://www.example.com/server-status/?auto
apache_status_user:
apache_status_pass:

# MongoDB
# See http://www.serverdensity.com/docs/agent/mongodb/

mongodb_server: 
mongodb_dbstats: no
mongodb_replset: no

# MySQL
# See http://www.serverdensity.com/docs/agent/mysql/

mysql_server:
mysql_user:
mysql_pass:

# nginx
# See http://www.serverdensity.com/docs/agent/nginx/

nginx_status_url: http://www.example.com/nginx_status

# RabbitMQ
# See http://www.serverdensity.com/docs/agent/rabbitmq/
# for rabbit <= 1.x use this url:
# rabbitmq_status_url: http://www.example.com:55672/json
# for newer versions use:
rabbitmq_status_url: http://www.example.com:55672/api/overview
rabbitmq_user: guest
rabbitmq_pass: guest

# Log and temporary file location
# See http://www.serverdensity.com/docs/agent/configvariables/
# tmp_directory: /var/log/custom_location


# Pid file location
# See http://www.serverdensity.com/docs/agent/configvariables/
# pidfile_directory: /var/custom_location

# Set log level
# See http://www.serverdensity.com/docs/agent/configvariables/
# logging_level: debug
