# If you're running Varnish 4.1+, you must add the sd-agent user to the varnish group:
# $ sudo usermod -G varnish -a sd-agent

init_config:

instances:
  # The full path to the varnishstat binary
  - varnishstat: /usr/bin/varnishstat

    # The (optional) name will be used in the varnishstat command for the
    # -n argument.
    # name: myvarnishinstance
